<div id="item-template" type="text/x-handlebars-template">

  <div class="hero-unit">
    <h1>Kimppatsemppari</h1>
    <p>Tällä kertaa saavutat tavoitteesi. Määritä tavoitteesi ja kirjaa edistymisesi vaivatta.</p>
    <p>
      <a id="register" class="btn btn-primary btn-large">
        Rekisteröidy!
      </a>
    </p>
  </div>

</div>
