<div id="item-template" type="text/x-handlebars-template">

  <div class="row">

    <div class="hero-unit" style="background-color: #ffffff; background-image: url('http://c69282.r82.cf3.rackcdn.com/woman_celebrating_success.jpg'); background-repeat: no-repeat; background-position-x: 85%;">
      <h1>Kimppatsemppari</h1>
      <p>Tällä kertaa saavutat tavoitteesi. Määritä tavoitteesi ja kirjaa edistymisesi vaivatta.</p>
      <p>
        <a id="register" class="btn btn-primary btn-large">
          Rekisteröidy!
        </a>
      </p>
    </div>

  </div>

</div>
