<div id="item-template" type="text/x-handlebars-template">

  <div class="row">
  
      <div class="span4 well" style="background-colour: ">
        <img src="http://c69282.r82.cf3.rackcdn.com/imagery_02_11_08_000112.jpg"></img>
        <p>Tavoitteet ovat Kimppatsempparin ydin. Alla on ohjeita kuinka teet
           tavoitteesta mahdollisimman hyvän.</p>
        <p>Tärkeintä on, että jaat tavoitteen osiin. Jos tavoite on laihduttaa 10
           kiloa neljässä kuukaudessa, voi sopiva tarkistusväli olla viikon välein.
           Tällöin tärkeintä on, että edistystä on tapahtunut tavoitteessa määritelty
           määrä. Tavoitteeksi kannattaa siis asettaa esim. 600 g per viikko, jolloin
           neljän kuukauden kuluessa on laihdutettu noin 10 kiloa. Tavoitteen saavuttamisessa
           on tärkeintä pitkäjänteisyys ja se, että joka tarkistusvälillä kirjataan onko saavutettu
           asetettu välitavoite vai ei.</p>
        <p>Kimppatsemppari mahdollistaa tavoitteen seurannan joko määrällisesti, tai
           kyllä / ei -vaihtoehdon avulla. Esim. viikon välein voidaan kertoa kuinka
           monta grammaa viikon aikana tarkalleen on laihduttu. Toisaalta jos seurannassa
           ei haluta olla näin tarkkoja, vaan tärkeänä pidetään tavoitteessa pysymistä,
           niin voidaan kirjata vain pysyttiinkö viikon aikana tavoitteessa vai ei.</p>
        <ul>
          <li><strong>Kirjausväli:</strong> Tavoite jaetaan osiin ja tavoitteen edistymistä
              seurataan halutulla aikavälillä. Esim. viikon välein kirjataan kuinka paljon
              on laihdutettu.</li>
          <li><strong>Kirjausaika:</strong> Jos haluat, voit kertoa milloin on mahdollista
              tehdä kirjauksia. Esim. jos kirjausväli on yksi viikko, ja haluat että kirjaus
              on mahdollista vasta kun on kulunut kuusi päivää, annetaan kirjausajaksi yksi päivä.
              Kirjausaika lasketaan kirjausvälin lopusta, eli yksi viikko = 7 päivää => 7 - 1 = 6 päivää.
              Huom. jos kentän jättää tyhjäksi, on kirjausaika sama kuin kirjausväli, eli voit
              tehdä kirjauksen milloin tahansa.</li>
          <li><strong>Kirjauksen otsikko:</strong> Kun tallennat tavoitteen välietapin, kerrot
              kuinka olet pysynyt tavoitteessa. Tämä kysymys on tavoitteeseesi räätälöity
              välietapin tarkistuskysymys. Esim. viikon välein voitaisiin kysyä: "Kuinka monta grammaa laihdutit?"</li>
          <li><strong>Kirjausyksikkö:</strong> <u>Jätä tämä tyhjäksi jos et halua kirjata määriä!</u>
              Muussa tapauksessa aina kirjauksen yhteydessä tulee ilmoittaa jokin määrä. Esim. "Laihduin 560 grammaa."
              Tällöin kirjausyksikkö on "grammaa". Huom. Kirjattavan määrän tulee olla kokonaisluku! Tällöin
              esim. kirjausyksikkö "Kg (kilogrammaa)" saattaisi olla liian karkealla tasolla.</li>
          <li><strong>Minimimäärä kirjausyksikölle:</strong> Jos kirjausyksikkö on annettu, niin
              tällöin minimimäärä kirjausyksikölle on pienin sallittu kirjattava määrä. Yritys kirjata
              tätä pienempi määrä antaa virheilmoituksen ja kirjaus ei onnistu.</li>
          <li><strong>Maksimimäärä kirjausyksikölle:</strong> Jos kirjausyksikkö on annettu, niin
              tällöin maksimimäärä kirjausyksikölle on suurin sallittu kirjattava määrä. Yritys kirjata
              tätä suurempi määrä antaa virheilmoituksen ja kirjaus ei onnistu.</li>
          <li><strong>Onnistumisen minimimäärä kirjausyksikölle:</strong> Kimppatsemppari pitää kirjaa 
              onnistuttiinko tavoitteessa vai ei. Jos kirjausyksikkö on annettu, niin kirjattavan määrän
               tulee olla suurempi tai yhtäsuuri kuin onnistumisen minimimäärä kirjausyksikölle jotta
               kirjaus laskettaisiin onnistumiseksi.</li>
          <li><strong>Onnistumisen maksimimäärä kirjausyksikölle:</strong> Jos kirjausyksikkö on annettu, niin kirjattavan määrän
               tulee olla pienempi tai yhtäsuuri kuin onnistumisen maksimimäärä kirjausyksikölle jotta
               kirjaus laskettaisiin onnistumiseksi. Tämä karsii syöttövirheistä johtuvia vääristymiä.</li>
          <li><strong>Tagit:</strong> Tagien avulla on mahdollista etsiä tavoite.</li>
          <li><strong>Tavoite muiden nähtävissä?:</strong> Mahdollisuus antaa muille lupa löytää oma tavoite ja seurata
              omaa tavoitteessa edistymistä.</li>
        </ul>
      </div>
  
      <div class="span8 well">
            
        <div class="row">

         <div class="span4 well">
            <fieldset>
              <legend>Uuden tavoitteet tiedot</legend>
              <label>Nimi</label><input id="name" type="text">
                {{#if this.name}}
                  {{this.name}}
                {{/if}}
              </input><br />
              <label>Kuvaus</label><textarea id="description" rows=3></textarea><br />
              <label>Päättyy</label><input id="expirationDate" type="date"></input> <br />
              
              <h4>Kirjausväli</h4>
              <p>Tavoitteen välietappien kirjausväli</p>
              <div class="row" style="border: 1px dotted #dddddd; margin: 1%;">
                <div class="span1">
                  <label>Kuukaudet</label>
                  <select id="recordIntervalMonths" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Viikot</label>
                  <select id="recordIntervalWeeks" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>                
                </div>
                
                <div class="span1">
                  <label>Päivät</label>
                  <select id="recordIntervalDays" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Tunnit</label>
                  <select id="recordIntervalHours" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                  </select>                
                </div>                
                
              </div>    
              <br />

              <!-- advanced option -->
              <h4>Kirjausaika</h4>
              <p>Milloin kirjaus on mahdollista tehdä kirjausvälillä.
                 Aika lasketaan kirjausvälin lopusta taaksepäin</p>
              <div class="row" style="border: 1px dotted #dddddd; margin: 1%;">
                <div class="span1">
                  <label>Kuukaudet</label>
                  <select id="recordWindowMonths" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Viikot</label>
                  <select id="recordWindowWeeks" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>                
                </div>
                
                <div class="span1">
                  <label>Päivät</label>
                  <select id="recordWindowDays" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Tunnit</label>
                  <select id="recordWindowHours" class="span1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                  </select>                
                </div>                

              </div>

              <label>Kirjauksen otsikko</label><input id="entryTitleText" type="text" placeholder="Onnistuitko tavoitteessa?"></input><br />
              <label>Kirjausyksikkö</label><input id="entryUnitOfMeasure" type="text" placeholder="Jätä tyhjäksi ei tallenneta määriä"></input><br />
              <label>Minimimäärä kirjausyksikölle</label><input id="entryMinAmount" type="number"></input><br />
              <label>Maksimimäärä kirjausyksikölle</label><input id="entryMaxAmount" type="number"></input><br />
              <label>Onnistumisen minimimäärä kirjausyksikölle</label><input id="entrySuccessMinAmount" type="number"></input><br />
              <label>Onnistumisen maksimimäärä kirjausyksikölle</label><input id="entrySuccessMaxAmount" type="number"></input><br />

              <label>Tagit</label><input id="tags" type="text"></input> <br />
              <label class="checkbox">
                <input id="isPublic" type="checkbox" value="">
                Tavoite muiden nähtävissä?
              </label>
            </fieldset>
            
            <a id="save" class="btn btn-primary">Tallenna</a>
            
         </div>

         <div class="span3 well">
            <fieldset>
              <legend>Esimerkkitavoite</legend>
              <label>Nimi</label><strong><input type="text" placeholder="10 kg laihduttaminen"></input></strong><br />
              <label>Kuvaus</label><textarea placeholder="Tavoite on laihduttaa 10 kg seuraavan neljän kuukauden aikana" rows=3></textarea><br />
              <label>Päättyy</label><input type="text" placeholder="01.10.2013"></input> <br />
              
              <h4>Kirjausväli</h4>
              <p>Tavoitteen välietappien kirjausväli</p>
              <div class="row" style="border: 1px dotted #dddddd; margin: 1%;">
                <div class="span1">
                  <label>Kuukaudet</label>
                  <select class="span1">
                    <option>0</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Viikot</label>
                  <select class="span1">
                    <option>1</option>
                  </select>                
                </div>
                
                <div class="span1">
                  <label>Päivät</label>
                  <select class="span1">
                    <option>0</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Tunnit</label>
                  <select class="span1">
                    <option>0</option>
                  </select>                
                </div>                
                
              </div>    
              <br />

              <!-- advanced option -->
              <h4>Kirjausaika</h4>
              <p>Milloin kirjaus on mahdollista tehdä kirjausvälillä.
                 Aika lasketaan kirjausvälin lopusta taaksepäin</p>
              <div class="row" style="border: 1px dotted #dddddd; margin: 1%;">
                <div class="span1">
                  <label>Kuukaudet</label>
                  <select class="span1">
                    <option>0</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Viikot</label>
                  <select class="span1">
                    <option>0</option>
                  </select>                
                </div>
                
                <div class="span1">
                  <label>Päivät</label>
                  <select class="span1">
                    <option>3</option>
                  </select>
                </div>
                <div class="span1">
                  <label>Tunnit</label>
                  <select class="span1">
                    <option>0</option>
                  </select>                
                </div>                
                
              </div>    

              <label>Kirjauksen otsikko</label><input type="text" placeholder="Kuinka monta grammaa pudotit?"></input><br />
              <label>Kirjausyksikkö</label><input type="text" placeholder="grammaa"></input><br />
              <label>Minimimäärä kirjausyksikölle</label><input type="number" placeholder="0"></input><br />
              <label>Maksimimäärä kirjausyksikölle</label><input type="number" placeholder="2000"></input><br />
              <label>Onnistumisen minimimäärä kirjausyksikölle</label><input type="number" placeholder="300"></input><br />
              <label>Onnistumisen maksimimäärä kirjausyksikölle</label><input type="number" placeholder="2000"></input><br />
              
              <label>Tagit</label><input type="text" placeholder="laihdutus, esimerkki"></input> <br />
              <label class="checkbox">
                <input type="checkbox" value="" checked>
                Tavoite muiden nähtävissä?
              </label>
            </fieldset>
         </div>

        </div>

      </div>

  </div>

</div>
