<div id="item-template" type="text/x-handlebars-template">

  <div class="form-signin well well-large" style="margin-left: 33%; width: 30%;">
    <h2 class="form-signin-heading">Liity jäseneksi</h2>
    <input id="username" type="text" class="input-block-level" placeholder="Käyttäjänimi">
    <input id="email" type="text" class="input-block-level" placeholder="Email-osoite">
    <input id="password" type="password" class="input-block-level" placeholder="Salasana">
    <button id="register" class="btn btn-large btn-primary" type="submit">Rekisteröidy</button>
  </div>

</div>
